@model CreateCarFeatureDto
@{
    ViewData["Title"] = "CreateFeatureByCarId";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


                <div class="card">
                    <div class="card-body">
        <h4 class="card-title">Adding Car Features Page</h4>
                        <p class="card-subtitle mb-4">
            This is the page where the features of the car will be defined.
        </p>
                        <form method="post">
                         <input type="hidden" value="@ViewBag.carId" asp-for="CarID" />
                            @for (int i = 0; i < Model.Features.Count; i++)
                            {
                                <div class="form-check">
                    <input type="hidden" asp-for="@Model.Features[i].FeatureID" />
                    <input type="hidden" asp-for="@Model.Features[i].Name" />
                    <input type="checkbox" asp-for="@Model.Features[i].Status" class="form-check-input" />
                    <label class="form-check-label">@Model.Features[i].Name</label>
                                </div>
                            }
                            <br />
            <button class="btn btn-primary">Assign Features to Car</button>
            <a href="/AdminCar/Index/" class="btn btn-danger"> Cancel</a>

                        </form>
                    </div>
                </div>
      

