@model List<ResultCarWithBrandsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Car List</h4>
        <p class="card-subtitle mb-4">
            You can perform operations such as adding, deleting, updating, searching and listing cars on this page.
        </p>
      
            <table id="basic-datatable" class="table dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Km</th>
                        <th>Transmission</th>
                        <th>Delete</th>
                        <th>Update</th>
                        <th>Details</th>
                        <th>Assign Feature</th>
                        <th>See on Site</th>
                        <th>Price Infos</th>
                        <th >Image</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th>@count</th>
                            <td>@item.BrandName</td>
                            <td>@item.Model</td>
                            <td>@item.Km</td>
                            <td>@item.Transmission</td>
                            <td><a href="/AdminCar/RemoveCar/@item.CarID" class="btn btn-outline-danger">Delete</a></td>
                            <td><a href="/AdminCar/UpdateCar/@item.CarID" class="btn btn-outline-success">Update</a></td>
                            <td><a href="/Admin/AdminCarFeatureDetail/Index/@item.CarID" class="btn btn-outline-dark">Details</a></td>
                            <td><a href="/Admin/AdminCarFeatureDetail/CreateFeatureByCarID" class="btn btn-outline-info">Assign Feature</a></td>
                            <td><a href="/CarList/CarDetail/@item.CarID" class="btn btn-outline-warning">View in Site</a></td>
                            <td><a href="/CarList/CarDetail/@item.CarID" class="btn btn-outline-secondary">Price Infos</a></td>
                            <td><img style="width:300px; height:200px" src="@item.CoverImageUrl" /></td>

                        </tr>
                    }
                  
                  
                </tbody>
            </table>
            <br />
            <a href="/AdminCar/CreateCar/" class="btn btn-outline-primary">Add New Car</a>
    

    </div>
    <!-- end card-body-->
</div>

